#generatePassword:hover{
  cursor:pointer;
}

#header{
  background-image: url("../images/1.jpg");
  width: 100%;
  height: 100%;
}
#menuAdmin{
  margin-bottom: 0px;
  padding: 0.5%;

}

.addToAgenda{
  margin-left: 20%;
  color: red;
}

#chooseDate{
  display: none;
}

.Activite{
  color:white;
}

#titreGestionActivite{
  color:white;
  text-decoration: underline;
}

#bodyLogin{
  background-image: url();
}


.editNote:hover{
  cursor: pointer;
}